<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  
  <title>
    Çalışanlar
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../assets/css/paper-dashboard.css?v=2.0.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet" />
  
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
  <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
 
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a  th:href="@{/}" class="simple-text logo-mini">
          <div class="logo-image-small">
            <img src="../assets/img/logo-small.png">
          </div>
        </a>
        <a href="#" class="simple-text logo-normal">
          Wari
          <!-- <div class="logo-image-big">
            <img src="../assets/img/logo-big.png">
          </div> -->
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="">
            <a th:href="@{/}">
              <i class="nc-icon nc-bank"></i>
              <p>Anasayfa</p>
            </a>
          </li>
          <li>
            <a th:href="@{/musteriler}">
              <i class="nc-icon nc-single-02"></i>
              <p>Müşteriler</p>
            </a>
          </li>
          <li sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/users}">
              <i class="nc-icon nc-circle-10"></i>
              <p>Çalışanlar</p>
            </a>
          </li>

          <li class="active-pro">
            <a href="./#">
              <i class="nc-icon nc-spaceship"></i>
              <p> <span sec:authentication="name"></span><br></p>
              <span th:text ="${#authentication.getAuthorities()}"></span><br>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="#">Çalışanlar</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form action="#" th:action="@{/bul}" th:object="${keyword}">
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" name="keyword" id="keyword" placeholder="Search...">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span>
                      <button type="submit"><i class="nc-icon nc-zoom-split"></i></button>
                    </span>
                  </div>
                </div>
              </div>
            </form>
            <ul class="navbar-nav">
              <li class="nav-item">
                <form style="margin-left: 16px" class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/logout}">
                  <button sec:authorize="isAuthenticated()" class="btn btn-outline-danger my-2 my-sm-0 btn-sm" type="submit">Çıkış</button>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Çalışan Ekle</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form th:action="@{/userKayit}" th:object="${user}" method="POST">
                <div class="row">
                  <div class="form-group col-md-6 col-6">
                    <label class="col-form-label">Adı:</label>
                    <input type="text" th:field="*{ad}" class="form-control" required minlength="3">
                  </div>
                  <div class="form-group col-md-6 col-6">
                    <label class="col-form-label">Soyadı:</label>
                    <input type="text" th:field="*{soyad}" class="form-control" required minlength="3">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-form-label">Adres</label>
                  <input type="text" th:field="*{adres}" class="form-control" required minlength="3">
                </div>
                <div class="form-group">
                  <label class="col-form-label">TC:</label>
                  <input type="number" th:field="*{tc}" class="form-control" required minlength="3" >
                </div>
                <div class="form-group">
                  <label class="col-form-label">Telefon Numarası:</label>
                  <input type="number" th:field="*{telefonNumarasi}" class="form-control" required minlength="3">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Email:</label>
                  <input type="email" th:field="*{email}" class="form-control" required minlength="3">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Parola:</label>
                  <input type="text" th:field="*{parola}" class="form-control" min="6" required minlength="3">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                  <button type="submit" class="btn btn-primary">Onayla</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="content">
        <div th:if="${param.error}">
          <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
              <i class="nc-icon nc-simple-remove"></i>
            </button>
            <span>
                  <b> Kayıt Gerçekleşmedi Tekrar Deneyin (Mail Benzersiz Olmalı) </b></span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Çalışanlar 
                  <span>
                    <button type="button" class="btn btn-sm btn-outline-success btn-round btn-icon" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap" title="User Ekle"><i class="fa fa-plus" aria-hidden="true" title="User Ekle"></i></button>
                  </span>
                </h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table id="datatable" class="table">
                    <thead align="Center">
                    <tr>
                      <th>
                        Adı
                      </th>
                      <th>
                        Soyadı
                      </th>
                      <th>
                        Aktiflik Durumu
                      </th>
                      <th sec:authorize="hasRole('ROLE_SUPER')">
                        Rol Değiştir
                      </th>
                      <th>
                        Gör
                      </th>
                    </tr>
                    </thead>
                    <tbody align="Center">
                    <tr th:if="${users} == null ">
                      <td colspan="2"> Gösterilecek donuç yok </td>
                    </tr>
                    <tr th:each="user : ${users}">
                      <td><span th:text="${user.getAd()}"> Ad </span></td>
                      <td><span th:text="${user.getSoyad()}"> Soyad </span></td>
                      <td th:if="${user.isAktifMi()} == true "><a class="btn-danger" th:href="${'/userDisable/' + user.getId()}">Disable Et</a></td>
                      <td th:if="${user.isAktifMi()} == false "><a class="btn-success" th:href="${'/userActive/' + user.getId()}">Active Et</a></td>
                      <td sec:authorize="hasRole('ROLE_SUPER')" ><a class="btn-success" th:href="${'/userRole/' + user.getId()}">Admin Yap</a></td>
                      <td><a th:href="${'/user/' + user.getId()}">Git</a></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="footer footer-black  footer-white ">
        <div class="container-fluid">
          <div class="row">
            <div class="credits ml-auto">
              <span class="copyright">
                ©
                <script>
                  document.write(new Date().getFullYear())
                </script>, made with <i class="fa fa-heart heart"></i> by OMU Tim
              </span>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>


  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
 
  <script src="../assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/paper-dashboard.min.js?v=2.0.0" type="text/javascript"></script>
  <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
  <script src="../assets/demo/demo.js"></script>
</body>

</html>
