<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Çalışan
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../assets/css/paper-dashboard.css?v=2.0.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a  th:href="@{/}" class="simple-text logo-mini">
          <div class="logo-image-small">
            <img src="../assets/img/logo-small.png">
          </div>
        </a>
        <a href="#" class="simple-text logo-normal">
          Wari
          <!-- <div class="logo-image-big">
            <img src="../assets/img/logo-big.png">
          </div> -->
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="">
            <a th:href="@{/}">
              <i class="nc-icon nc-bank"></i>
              <p>Anasayfa</p>
            </a>
          </li>
          <li>
            <a th:href="@{/musteriler}">
              <i class="nc-icon nc-single-02"></i>
              <p>Müşteriler</p>
            </a>
          </li>
          <li sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/users}">
              <i class="nc-icon nc-circle-10"></i>
              <p>Çalışanlar</p>
            </a>
          </li>

          <li class="active-pro">
            <a href="./#">
              <i class="nc-icon nc-spaceship"></i>
              <p> <span sec:authentication="name"></span><br></p>
              <span th:text ="${#authentication.getAuthorities()}"></span><br>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="#">Profil</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form action="#" th:action="@{/bul}" th:object="${keyword}">
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" name="keyword" id="keyword" placeholder="Search...">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span>
                      <button type="submit"><i class="nc-icon nc-zoom-split"></i></button>
                    </span>
                  </div>
                </div>
              </div>
            </form>
            <ul class="navbar-nav">
              <li class="nav-item">
                <form style="margin-left: 16px" class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/logout}">
                  <button sec:authorize="isAuthenticated()" class="btn btn-outline-danger my-2 my-sm-0 btn-sm" type="submit">Çıkış</button>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <!-- <div class="panel-header panel-header-sm">


</div> -->
      <div class="content">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Alınan Odemeler
                  <span>
                    <button type="button" class="btn btn-sm btn-outline-success btn-round btn-icon"><a id="odemelerpdf"><i class="fa fa fa-file-pdf-o" aria-hidden="true" title="Pdf Al"></i></a></button>
                  </span>
                </h4>
              </div>
              <div class="card-body">
                <table class="table">
                  <thead align="center">
                  <tr>
                    <th>
                      Müşteri Adı
                    </th>
                    <th>
                      İşlem Adı
                    </th>
                    <th>
                      Tutar
                    </th>
                  </tr>
                  </thead>
                  <tbody align="center">
                  <tr th:each="odeme : ${odemeler}">
                    <td><span th:text="${odeme.getIslem().getMusteri().getAd() + ' ' + odeme.getIslem().getMusteri().getSoyad()}"> Ad </span></td>
                    <td><span th:text="${odeme.getIslem().getAciklama()}"> Ad </span></td>
                    <td><span th:text="${odeme.getOdenenTutar()}"> Tutar </span></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card card-user">
              <div class="card-header">
                <h5 class="card-title">Müşteri Bilgileri</h5>
              </div>
                <form th:action="@{/#}" th:object="${user}">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6 pr-1">
                        <div class="form-group">
                          <label>Ad</label>
                          <input type="text" class="form-control" disabled=""  value="Ad" th:field="*{ad}" required minlength="3">
                        </div>
                      </div>
                      <div class="col-md-6 pl-1">
                        <div class="form-group">
                          <label>Soyad</label>
                          <input type="text" class="form-control" disabled="" placeholder="Soyad" th:field="*{soyad}" value="Faker" required minlength="3">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Adres</label>
                          <input type="text" class="form-control" disabled="" placeholder="Addres" th:field="*{adres}" value="Melbourne, Australia" required minlength="3">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4 pr-1">
                        <div class="form-group">
                          <label>TC</label>
                          <input type="number" class="form-control" disabled="" placeholder="TC" th:field="*{tc}" value="Melbourne" required minlength="3">
                        </div>
                      </div>
                      <div class="col-md-4 px-1">
                        <div class="form-group">
                          <label>Email</label>
                          <input type="email" class="form-control" disabled="" placeholder="Email" th:field="*{email}" value="Australia" required minlength="3">
                        </div>
                      </div>
                      <div class="col-md-4 pl-1">
                        <div class="form-group">
                          <label>Telefon Numarası
                          </label>
                          <input type="number" class="form-control" disabled="" th:field="*{telefonNumarasi}" placeholder="Telefon" required minlength="3">
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer footer-black  footer-white ">
        <div class="container-fluid">
          <div class="row">
            <nav class="footer-nav">

            </nav>
            <div class="credits ml-auto">
              <span class="copyright">
                ©
                <script>
                  document.write(new Date().getFullYear())
                </script>, made with <i class="fa fa-heart heart"></i> by Omu Tim
              </span>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/paper-dashboard.min.js?v=2.0.0" type="text/javascript"></script>
  <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
  <script src="../assets/demo/demo.js"></script>
  <script>
      $('#odemelerpdf').attr('href',window.location.href + '/pdf')
  </script>
</body>

</html>
